tokenmanagement/src/main/resources/schema/tokenmanagement.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:com.commerzunternahmen.tokenmanagement-subsystem:1.0"
	xmlns="urn:com.commerzunternahmen.tokenmanagement-subsystem:1.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0">
	<!-- The subsystem root element -->
	<xs:element name="subsystem" type="subsystem-type" />
	<xs:complexType name="subsystem-type">
		<xs:all>
			<xs:element name="web-context" type="xs:string" minOccurs="0"
				maxOccurs="1" />
		</xs:all>
	</xs:complexType>
</xs:schema>
